---
layout: default
title: Blog
permalink: /blog
---

{% if site.posts.size == 0 %}
  <h6 class="intro">Oops! looks like there aren't any posts yet...</h6>

{% else %}
  <ul class="mdl-grid">

    {% for post in site.posts %}
      <li class="
        mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet
        mdl-card mdl-shadow--3dp
        post-preview
      ">

        <div class="mdl-card__title mdl-card--expand">
          <h5 class="mdl-card__title-text">
            {{ post.title }}
          </h5>
        </div>
        <div class="mdl-card__supporting-text">
          {{ post.date | date: "%-d %B, %Y" }}
          <br>
          {{ post.excerpt }}
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-js-button mdl-button--accent" href="{{ post.url | prepend: site.baseurl }}">
            Read more
          </a>
        </div>
      
      </li>
    {% endfor %}

    </ul>
{% endif %}