body {
  color: #333333;
  background-color: #EEEEEE;
}

p, li {
  max-width: 800px;
  font-size: 20px;
  margin: auto;
  line-height: 1.6em;
}

p {
  text-align: justify;  
  margin-top: 1.6em;
}

li {
  text-align: center
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.intro {
  text-align: center;
  margin-bottom: 2em;
}

.outro {
  text-align: center; 
  margin-bottom: 2em; 
}

.title, .option {
  font-weight: bold
}

.option:hover {
  background-color: #EEEEEE;
}