body {
  color: #333333;
  background-color: #EEEEEF;
  font-size: 18px;
  width: 40em;
  margin: auto;
  box-sizing: border-box;
}

h1, h2 {
  text-align: center;
  font-weight: normal
}

/* h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
  margin-top: 1.6em;
} */

p {
  text-align: justify;
}

a {
  text-decoration: none;
}

.intro {
  text-align: center;
}

.end {
  text-align: center;  
}