body {
  color: #333333;
  background-color: #EEEEEF;
  font-size: 18px;
}

main {
  width: 40em;
  margin: auto;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-weight: normal;
  font-size: 2em;
}

p {
  text-align: justify;
}

a {
  text-decoration: none;
}

.intro {
  text-align: center;
}

.outro {
  text-align: center;  
}

.title, .option {
  font-weight: bold
}

.option:hover {
  background-color: #EEEEEF;
}