<!-- Page Header -->
<header class="mdl-layout__header">
  <div class="mdl-layout-icon">
    <!--TODO: Create Icon to put in Navbar-->
  </div>
  <div class="mdl-layout__header-row">
    <span class="title mdl-layout__title">Joel Clarke</span>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation">

      <!-- Blog Button -->
      <a class="option mdl-navigation__link" href="#">
        <i class="material-icons">create</i>
        Blog
      </a>

      <!-- Gallery Button -->
      <a class="option mdl-navigation__link" href="#">
        <i class="material-icons">photo_library</i>
        Gallery
      </a>

    </nav>
  </div>
</header>

<!-- Drawer for Small Screens -->
<div class="mdl-layout__drawer mdl-layout--small-screen-only">
  <span class="title mdl-layout__title">Joel Clarke</span>
  <nav class="mdl-navigation">
    
    <!-- Blog Button -->
    <a class="option mdl-navigation__link" href="#">
      <i class="material-icons">create</i>
      Blog
    </a>

    <!-- Gallery Button -->
    <a class="option mdl-navigation__link" href="#">
      <i class="material-icons">photo_library</i>
      Gallery
    </a>

  </nav>
</div>