* {
  box-sizing: border-box;
  padding: 0;
}

body {
  color: #333333;
  background-color: #EEEEEE;
}

p, ul {
  max-width: 800px;
}

p {
  text-align: center;  
  margin-top: 2em;
}

ul {
  list-style: none;
  justify-content: center;
}

li {
  text-align: center;
}

a {
  text-decoration: none;
}

code {
  word-wrap: normal;
}

.intro, .outro{
  text-align: center;
  max-width: 900px;
  margin: 2em auto;
}

.title, .option {
  font-weight: bold
}

.option:hover {
  background-color: #EEEEEE;
}

.highlighter-rouge {
  max-width: 800px;
  margin: 2em auto;
}

.highlight {
  padding: 1em;
}

@media only screen and (min-width: 961px) {
  p {
    margin: 2em auto 0em auto;
  }
}

@media only screen and (max-width: 400px) {
  p {
    margin: 2em 1em 0em 1em;
  }
}