* {
  box-sizing: border-box;
  padding: 0;
}

body {
  color: #333333;
  background-color: #EEEEEE;
  display: flex;
}

p, ul, ol, h2 {
  max-width: 800px;
}

ul {
  list-style: none;
  justify-content: center;
}

ol {
  padding-left: 2em;
}

h2 {
  margin: auto;
}

a {
  text-decoration: none;
}

code {
  word-wrap: normal;
}

.mdl-layout {
  display: flex;
  flex-direction: column;

  .mdl-layout__content {
    flex: 1 0 auto;
  }

  .mdl-mini-footer {
    flex-shrink: 0;
  }
}

.intro, .outro {
  text-align: center;
  max-width: 900px;
  margin: 2em auto;
}

.detail {
  text-align: center;
}

.title, .option {
  font-weight: bold
}

.option:hover {
  background-color: #EEEEEE;
}

.highlighter-rouge {
  max-width: 800px;
  margin: 2em auto;
}

.highlight {
  padding: 1em;
}

.project-list-item {
  text-align: center;
}

.post-card p {
  margin: auto;
}

.mdl-grid {
  max-width: 800px;
}

.mdl-mini-footer--link-list li,
.mdl-mini-footer__link-list li {
  margin: auto 8px;
}

// Desktop Detail Width
@media only screen and (min-width: 961px) {
  p, ul, ol {
    margin: 2em auto;
  }
}

// Tablet Detail Width
@media only screen and (max-width: 960px) and (min-width: 401px) {
  p, ul, ol, h2 {
    margin: 2em;
  }
}

// Mobile Detail Width
@media only screen and (max-width: 400px) {
  p, ul, ol, h2 {
    margin: 2em 1em;
  }
}