img {
  height: auto;
  max-width: 100%;
}

.app-header-nav {
  display: flex;
  flex-direction: column;
  margin: 1em 0em;
}

.home-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (min-width: 801px) {
    .project {
      max-width: 30%;

      .project-title {
        overflow: hidden;
      }
    }  
  }
}